<table border="0" cellpadding="0" cellspacing="0" class="wu_table_list mt10 w248">
  <thead>
    <tr>
      <th colspan="4">
        {foreach from=$sel_item_list key=k item=v}
        <label><input type="radio" value="{$k}" name="sel_item"
          onclick="getGoodsSaleRank(this)"
          {if $sel_item eq $k || $k eq 1}checked{/if}> {$v}</label>
        {/foreach}
        <!--<label><input type="radio" value="1" name="sel_item" {if $sel_item eq 1 || !$sel_itme}checked{/if}> 部门</label>-->
        <!--<label><input type="radio" value="2" name="sel_item" {if $sel_item eq 2}checked{/if}> 小组</label>-->
        <!--<label><input type="radio" value="3" name="sel_item" {if $sel_item eq 3}checked{/if}> 员工</label>-->
        <input type="hidden" id="goods_sn" value="00"/>
      </th>
    </tr>
    <tr>
      <th>排名</th>
      <th>姓名</th>
      <th>销量</th>
      <th>均价</th>
    </tr>
  </thead>
  <tbody>
    {foreach from=$rank_status item=v}
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    {/foreach}
  </tbody>
</table>

