{if $full_page}
<style type="text/css" media="screen">
  label{padding:6px;border:1px solid #eee;color:#fff;background:#267980;margin:5px 0px;display:block;}
  a:hover{color:#ccc;}
</style>
{/if}
<br />
<div style="margin-left:3px;border:1px solid #ccc;width:70%;margin:0 auto;">
  <div style="overflow:auto;">
    <div>
      <label for="talk_skill">产品话述
        <a class="btn_new" target="_self" href="article.php?act=edit_article&cat_id={$cat_id}">编辑</a>
      </label>
      <div>{$talk_skill}</div>
    </div>
    <div>
      <label for="talk_skill">产品功效</label>
      <div>{$effect}</div>
    </div>
  </div>
</div>
